<form class="form-signin">
  <h2 class="form-signin-heading">Sign In</h2>
  <app-alert [alerts]="alertManager.getAlerts()"></app-alert>
  <div class="form-group">
    <label for="inputUsernameLogin">Username</label>
    <input [(ngModel)]="user.username" type="text" id="inputUsernameLogin" class="form-control"
           placeholder="Username"
           name="username" required="" autofocus="">

    <label for="inputPasswordLogin">Password</label>
    <input [(ngModel)]="user.password" type="password" id="inputPasswordLogin" class="form-control"
           placeholder="Password"
           name="password" required="">
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login(user.username, user.password)">Sign in
  </button>
</form>
