<div *ngFor="let alert of alerts" class="mt-2 mb-2">
  <div [ngSwitch]="alert.type">
    <div *ngSwitchCase="'primary'" class="alert alert-primary" role="alert">{{alert.text}}</div>
    <div *ngSwitchCase="'secondary'" class="alert alert-secondary" role="alert">{{alert.text}}</div>
    <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">{{alert.text}}</div>
    <div *ngSwitchCase="'danger'" class="alert alert-danger" role="alert">{{alert.text}}</div>
    <div *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">{{alert.text}}</div>
    <div *ngSwitchCase="'info'" class="alert alert-info" role="alert">{{alert.text}}</div>
    <div *ngSwitchCase="'light'" class="alert alert-light" role="alert">{{alert.text}}</div>
    <div *ngSwitchCase="'dark'" class="alert alert-dark" role="alert">{{alert.text}}</div>
  </div>
</div>
