<div>
  <h1>SMS Reminder</h1>
  <app-nav-bar></app-nav-bar>
  <h2>Admin Dashboard</h2>

  <div>
    <h3>Users</h3>
    <app-admin-user-input (usersChanged)="handleUsersChanged($event)"
                          [create]="!currentUser._id ? true : false"
                          [user]="currentUser"></app-admin-user-input>
    <app-admin-entity-list (editEvent)="editUser($event)"
                           (deleteEvent)="deleteUser($event)"
                           [entities]="users"
                           [keys]="['username', 'phone', 'carrier']"
                           [prettyKeys]="['Username', 'Phone Number', 'Carrier']"></app-admin-entity-list>
  </div>

  <hr/>
  <div>
    <h3>Reminders</h3>
    <app-admin-reminder-input (remindersChanged)="handleRemindersChanged($event)"
                              [users]="users"
                              [create]="!currentReminder._id ? true : false"
                              [reminder]="currentReminder"></app-admin-reminder-input>
    <app-admin-entity-list (editEvent)="editReminder($event)"
                           (deleteEvent)="deleteReminder($event)"
                           [entities]="reminders"
                           [keys]="['content', 'timeToSend', 'username']"
                           [prettyKeys]="['Message Content', 'Time to Send', 'Username']"></app-admin-entity-list>
  </div>

  <hr/>
  <div>
    <h3>Anonymous Reminders</h3>
    <app-admin-anon-reminder-input [create]="!currentAnonymousReminder._id ? true : false"
                                   [anonymousReminder]="currentAnonymousReminder"></app-admin-anon-reminder-input>
    <app-admin-entity-list (editEvent)="editAnonymousReminder($event)"
                           (deleteEvent)="deleteAnonymousReminder($event)"
                           [entities]="anonymousReminders"
                           [keys]="['content', 'timeToSend', 'phone', 'carrier']"
                           [prettyKeys]="['Message Content', 'Time to Send', 'Phone Number', 'Carrier']"></app-admin-entity-list>
  </div>

  <hr/>
  <div>
    <h3>Subscriptions</h3>
    <app-admin-subscription-input [users]="users"
                                  [create]="!currentSubscription._id ? true : false"
                                  [subscription]="currentSubscription"></app-admin-subscription-input>
    <app-admin-entity-list (editEvent)="editSubscription($event)"
                           (deleteEvent)="deleteSubscription($event)"
                           [entities]="subscriptions"
                           [keys]="['recurringReminder', 'timeToSend', 'username']"
                           [prettyKeys]="['Subscription Title', 'Time to Send', 'Username']"></app-admin-entity-list>
  </div>

</div>
