<div>
  <h1>SMS Reminder</h1>
  <app-nav-bar></app-nav-bar>
  <h2>Admin Dashboard</h2>

  <div>
    <h3>Users</h3>
    <app-admin-entity-list (editEvent)="editUser($event)"
                           (deleteEvent)="deleteUser($event)"
                           [entities]="users"
                           [keys]="['username', 'phone', 'carrier']"
                           [prettyKeys]="['Username', 'Phone Number', 'Carrier']"></app-admin-entity-list>
  </div>

  <hr/>
  <div>
    <h3>Reminders</h3>
    <app-admin-entity-list (editEvent)="editReminder($event)"
                           (deleteEvent)="deleteReminder($event)"
                           [entities]="reminders"
                           [keys]="['content', 'timeToSend']"
                           [prettyKeys]="['Message Content', 'Time to Send']"></app-admin-entity-list>
  </div>

  <hr/>
  <div>
    <h3>Anonymous Reminders</h3>
    <app-admin-entity-list (editEvent)="editAnonymousReminder($event)"
                           (deleteEvent)="deleteAnonymousReminder($event)"
                           [entities]="anonymousReminders"
                           [keys]="['content', 'timeToSend', 'phone', 'carrier']"
                           [prettyKeys]="['Message Content', 'Time to Send', 'Phone Number', 'Carrier']"></app-admin-entity-list>
  </div>

  <hr/>
  <div>
    <h3>Subscriptions</h3>
    <app-admin-entity-list (editEvent)="editSubscription($event)"
                           (deleteEvent)="deleteSubscription($event)"
                           [entities]="subscriptions"
                           [keys]="['recurringReminder', 'timeToSend']"
                           [prettyKeys]="['Subscription Title', 'Time to Send']"></app-admin-entity-list>
  </div>

</div>
