<div>
  <h1>SMS Reminder</h1>
  <app-nav-bar activePage="Profile"></app-nav-bar>
  <div class="row">
    <div class="col-md-6">
      <form class="form-signin">
        <h2 class="form-signin-heading">Profile</h2>

        <app-alert [alerts]="profileAlertManager.getAlerts()"></app-alert>

        <div class="form-group">
          <label for="inputUsernameRegister">Username</label>
          <input [(ngModel)]="user.username" type="text" id="inputUsernameRegister" class="form-control"
                 placeholder="Username"
                 name="username" required="" autofocus="" disabled>

          <label for="inputPhone">Phone Number</label>
          <input [(ngModel)]="user.phone" type="tel" minlength="10" maxlength="10" placeholder="6313830359"
                 id="inputPhone" name="phone" class="form-control">

          <label for="inputCarrier">Carrier</label>
          <select [(ngModel)]="user.carrier" class="form-control" id="inputCarrier" name="carrier">
            <option *ngFor="let carrier of carriers">{{carrier}}</option>
          </select>
        </div>
        <button class="btn btn-lg btn-outline-primary btn-block" type="submit" (click)="updateUser(user)">Update</button>
      </form>

      <hr/>
      <div>
        <app-alert [alerts]="subscriptionAlertManager.getAlerts()"></app-alert>
        <div class="card">
          <div class="card-header">
            Your Subscriptions
          </div>
          <app-subscription-list *ngIf="subscriptions.length !== 0; else showNoSubscriptions"
                                 [subscriptions]="subscriptions"
                                 (unsubscribed)="handleUnsubscribe($event)"></app-subscription-list>
          <ng-template #showNoSubscriptions>
            <div class="card-body">No subscriptions yet.</div>
          </ng-template>
        </div>

        <button routerLink="/recurring-dashboard" class="btn btn-outline-primary mt-2">Subscription Dashboard</button>
      </div>

    </div>
    <div class="col-md-6">
      <h2>Send a new reminder</h2>
      <app-alert [alerts]="reminderAlertManager.getAlerts()"></app-alert>
      <app-new-reminder #newReminder></app-new-reminder>
      <button class="btn btn-outline-primary" (click)="addReminder(newReminder.newReminder)">Add Reminder</button>
      <hr/>
      <app-alert [alerts]="deleteReminderAlertManager.getAlerts()"></app-alert>
      <div class="card">
        <div class="card-header">
          Your Reminders
        </div>
        <app-reminderlist *ngIf="reminders.length !== 0; else showNoReminders"
                          [reminders]="reminders"
                          [showDelete]="true"
                          [alertManager]="deleteReminderAlertManager"></app-reminderlist>
        <ng-template #showNoReminders>
          <div class="card-body">No reminders yet.</div>
        </ng-template>
      </div>
      <p *ngIf="reminders.length !== 0" class="small">Reminders in green have been sent already.</p>
    </div>

  </div>
  <button class="btn btn-outline-danger mt-5" (click)="logout()">Logout</button>
</div>
