<div>
  <h1>SMS Reminder</h1>
  <app-nav-bar activePage="Home"></app-nav-bar>
  <div class="row">
    <div class="col-sm-6">
      <p>Welcome to SMS Reminder!</p>
      <p>SMS Reminder allows you to schedule text messages to get reminders or various items sent to you in the
        future.</p>
      <a class="btn btn-primary" href="/login-register">Login / Register</a>
      <hr/>
      <app-anon-new-reminder></app-anon-new-reminder>
      <hr/>

      <div>
        <h3>Recurring Reminders</h3>
        <p>Recurring reminders are sent once a day utilizing various API's to gather different information to forward to
          your phone.</p>
        <a class="btn btn-primary" href="/recurring-dashboard">Setup</a>
      </div>

    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          Recently sent reminders
        </div>
        <app-reminderlist></app-reminderlist>
      </div>
      <hr/>
      <div>
        <h3>Search</h3>
        <p>Search through previously sent reminders to quickly add them yourself and search through the various
          recurring reminder options</p>
        <app-search-box></app-search-box>
      </div>

    </div>

  </div>
</div>
