<div class="mb-4">
  <h1>SMS Reminder</h1>
  <app-nav-bar></app-nav-bar>
  <app-alert [alerts]="alertManager.getAlerts()"></app-alert>
  <div>
    <h3>Search results for '{{query}}'</h3>

    <hr/>
    <div>

      <div *ngIf="recurring.length !== 0; else noRecurring">
        <h4>Matching recurring reminders</h4>
        <div class="row">
          <div *ngFor="let recur of recurring" class="col-sm-3">
            <app-recurring-card [recurring]="recur"
                                [subscription]="isUserSubscribed(recur)"
                                (recurringClicked)="handleRecurringClicked($event)"
                                (unsubscribeClicked)="handleUnsubscribe($event)"
                                (previewClicked)="handlePreviewClicked($event)"></app-recurring-card>
          </div>
        </div>
      </div>

      <ng-template #noRecurring>
        <p>No subscription services matched this search.</p>
      </ng-template>
    </div>

    <hr/>
    <div>
      <div *ngIf="reminders.length !== 0; else noReminders">
        <h4>Matching user reminders</h4>
        <app-reminderlist [reminders]="reminders"
                          [showAdd]="true"
                          (addReminder)="handleAddReminder($event)"></app-reminderlist>
      </div>
      <ng-template #noReminders>
        <p>No previously created reminders matched this search.</p>
      </ng-template>

    </div>
  </div>

  <app-subscription-modal [recurring]="selectedRecurring"
                          (closeModalEvent)="handleSubscriptionModalClose($event)"></app-subscription-modal>
  <app-text-modal [title]="previewTitle"
                  [content]="previewText"></app-text-modal>
  <app-add-reminder-modal [reminderContent]="selectedReminder.content"
                          (modalClosed)="handleReminderModalClose($event)"></app-add-reminder-modal>

</div>
