<form class="form-signin">
  <h2 class="form-signin-heading">Register</h2>

  <div class="form-group">
    <label for="inputUsernameRegister">Username</label>
    <input [(ngModel)]="user.username" type="text" id="inputUsernameRegister" class="form-control"
           placeholder="Username"
           name="username" required="" autofocus="">

    <label for="inputPasswordRegister">Password</label>
    <input [(ngModel)]="user.password" type="password" id="inputPasswordRegister" class="form-control"
           placeholder="Password"
           name="password" required="">

    <label for="inputPhone">Phone Number</label>
    <input [(ngModel)]="user.phone" type="tel" minlength="10" maxlength="10" placeholder="6313830359"
           id="inputPhone" name="phone" class="form-control">

    <label for="inputCarrier">Carrier</label>
    <select [(ngModel)]="user.carrier" class="form-control" id="inputCarrier" name="carrier">
      <option *ngFor="let carrier of carriers">{{carrier}}</option>
    </select>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="register(user)">Register</button>
</form>
