<div>
  <h1>SMS Reminder</h1>
  <app-nav-bar activePage="Subscriptions"></app-nav-bar>
  <h2>Subscription Dashboard</h2>
  <app-alert [alerts]="alertManager.getAlerts()"></app-alert>
  <div class="row">
    <div *ngFor="let recur of recurring" class="col-sm-3">
      <app-recurring-card [recurring]="recur"
                          [subscription]="isUserSubscribed(recur)"
                          (recurringClicked)="handleRecurringClicked($event)"
                          (unsubscribeClicked)="handleUnsubscribe($event)"></app-recurring-card>
    </div>
  </div>
  <app-subscription-modal [recurring]="selectedRecurring"
                          (closeModalEvent)="handleModalClose($event)"></app-subscription-modal>
</div>
